@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: black;
}

:root {
    --primary-default: #6EA96E;
    --primary-dark: #347539;
    --primary-light: #C8F4CB;
    --primary-subtle: #F4FFF5;
    --secondary-default: #45AB6B;
    --secondary-dark: #2F7147;
    --secondary-light: #ACEBC3;
    --secondary-subtle: #EDF8F1;
    --feedback-negative: #DA3030;
    --feedback-warning: #DAAA30;
    --feedback-success: #30DA74;
    --feedback-infos: #3069DA;
    --gray-100: #181818;
    --gray-200: #212429;
    --gray-300: #575A61;
    --gray-400: #DADCDF;
    --gray-500: #F4F5F8;
    --white: #FFFFFFF;

    /* 1vw = 19,8px */
}

header{
    background-color: var(--gray-100);
    height: 100px;
    padding: 34px 120px;
}

header .logo{
    cursor: pointer;
}

header .itemsMenu{
    color: white;
    display: flex;
    align-self: center;
}

header .itemsMenu a{
    margin-right: 56px;
    cursor: pointer;
}

header .itemsMenu a:active{
    border-bottom: solid 2px white;
    padding-bottom: 40px;
}

header .itemsMenu a:hover{
    /* border-bottom: solid 1px white; */
}

header .itemsMenu a:last-child{
    margin-right: 0px;
}

header .icons{
    align-self: center;
}

header .icons *{
    color:var(--secondary-default);
    font-size: 20px;
    margin-right: 36px;
    cursor: pointer;
}

header .icons *:last-child{
    margin-right: 0px;
}

header .colapseBar{
    font-size: 25px;
    color: var(--secondary-default);
}

header .responsive{

}

@media (max-width: 576px) { 

 }

@media (max-width: 768px) { 
    header .itemsMenu{
        display: none;
    }
 }

@media (max-width: 992px) { 
    header .icons{
        display: none;
    }
 }

@media (max-width: 1200px) {
    header{
        padding: 34px 34px;
    }
}